body {
	margin: 0;
	padding: 0;
}

a:hover {
	color: #d00;
	text-decoration: none;
}

.emscripten {
	margin: 0 auto;
	display: block;
	text-align: center;
}
.emscripten_border {
	margin: -20px auto 0px;
}
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten {
	border: 0px none;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 9999;
}

.spinner {
	height: 30px;
	width: 30px;
	margin: 0 auto;

	border: 5px solid #eee;
	border-top-color: #777;
	border-radius: 100%;
	background-color: #bd2;

	animation: rotation .8s linear infinite;
}
@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

#stat {
	margin: 40px auto 0px;
	width: 320px;
}

#status {
	margin-top: 10px;
	font-weight: bold;
	font-family: arial;
	color: #777;
}

#controls {
	display: none;
	position: absolute;
	right: 30px;
	top: 26px;
}

#output {
	width: 95%;
	height: 34px;
	margin: 1.2em auto;
	display: none;
	color: #888;
	font-family: 'Lucida Console', Monaco, monospace, Meiryo;
	font-size: 85%;
	outline: none;
	border: none;
	overflow: hidden;
	text-align: center;
	background-color: transparent;
}

#header {
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-position: 0px -20px;
}

#title {
	padding: 20px 20px 40px;
	margin: 0 0 -20px 0;
	background: rgba(210, 210, 250, 0.95);
	background: linear-gradient(to bottom, rgba(200, 200, 240, 0.95), #fff);
	font-family: arial;
}

#footer {
	padding: 30px 0 20px;
	margin-top: -20px;
	background: #dd9;
	background: linear-gradient(to top, #cc8, #fff);
	text-align: center;
}

#footer p {
	margin: 1em;
}

#footer #octocat {
	margin-left: 34px;
	text-align: left;
}

ul {
	margin: 30px 20px;
}

li {
	margin-bottom: 0.8em;
}